<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <ul class="topnav">
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
  </div>
</nav>
